
/* Navigation */
.site-header{
    width: 100%;
    .site-navigation{
        ul {
            margin: 0;
            &.menu{
                li{
                    &.menu-item-has-children{
                        &:after{
                            right: 6px;
                            top:51%;
                            color: #000000;
                            font-family: 'bootstrap-icons';
                            font-size:16px;
                            content: '\F282';
                        }
                    }
                    &:hover{
                        &:after{
                            color: #fff;
                        }
                    }
                }
            }
            li {
                list-style-type: none;
                position: relative;
                margin: 0 10px;
                border-radius: 4px;
                transition: all 0.5s;
                a{
                    text-decoration: none;
                    padding: .5rem;
                    text-align: left;
                    text-decoration: none;
                    transition: none;
                    font-family: var(--e-global-typography-primary-font-family);
                    font-weight: normal;
                    font-size: 1.12rem;
                    color: #111111;
                    text-transform: capitalize;
                    cursor: pointer;
                    display: block;
                    padding: 10px 20px;
                }
                &:hover {
                    cursor: pointer;
                    background-color: var(--e-global-color-primary);
                    a{
                        color: #ffffff;
                    }
                    ul{
                        li{
                            color: #000;
                            &:hover{
                                a{
                                    color: #fff;
                                } 
                            }
                            a{
                                color: #000;
                            }
                        }
                    }
                }
                &.current-menu-item {
                    background-color: var(--e-global-color-primary);
                    a{
                        color: #ffffff;
                    }
                    
                }
                ul {
                    margin: 0;
                    display: none;
                    position: absolute;
                    width: 255px;
                    padding: 20px 0 0 0;
                    padding-top: 0;
                    z-index: 400;
                    font-size: 12px;
                    color: #000000;
                    box-shadow: 0px 2px 1px 0px rgba(50, 50, 50, 0.2);
                    border-top: 2px solid var(--e-global-color-primary);
                    li {
                        background: #fff;
                        width: 100%;
                        padding:10px;
                        margin: 0;
                        border-radius: 0;
                        a{
                            padding: 0;
                            color: #000;
                            &:hover{
                                color: #fff;
                            }
                        }
                    }
                }
            }
            
        }
        .call-to-action{
            text-align: center;
            text-decoration: none;
            text-transform: capitalize;
            cursor: pointer;
            padding: 10px 20px;
            border: 1px solid var(--e-global-color-primary);
            background-color: #fff;
            border-radius: 50px;
            margin-left: 50px;  
            font-family: var(--e-global-typography-secondary-font-family);
            font-weight: 700;
            font-size: 1.3rem;
            color: var(--e-global-color-primary);
            &:hover{
                background-color: var(--e-global-color-primary);
                color: #fff;
            }

        }
        
    }
    img.custom-logo{
        width:50%;
        @media (min-width:540px) {
            width:auto;
        }
    }
}

.site-navigation-toggle-holder {
    padding: 0;
    .site-navigation-toggle{
        background-color: var(--e-global-color-primary);
        color: #fff;
        padding: .5em .7em;
    }
}

.fixed-header {
    position: fixed;
    z-index: 100;
    box-shadow: 0 6px 9px 0 rgba(0,0,0,.06);
    transition: .5s ease-in-out;
    background-color: #fff;
    img.custom-logo{
        width:50%;
    }
}
